body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.online-item {
  width: 100%;
  margin-top: 10px;
  padding: 20px 5px;
  transition: transform 0.3s;
  text-align: center;
}

.online-Image {
  width: 86px;
  --border: 6px;
  --gap: 12px;
  --color: #cfdddb;
  width: 120px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px 20px 10px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  --angle: 90deg;
  background: radial-gradient(farthest-side, var(--color) 97%, #0000 101%)
      85.35% 85.35%,
    conic-gradient(
      from calc(180deg - var(--angle) / 2),
      #0000 var(--angle),
      var(--color) 0
    ),
    radial-gradient(farthest-side, var(--color) 97%, #0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border), auto;
  background-repeat: no-repeat;
  -webkit-mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  transition: --angle 0.4s, --gap 0.4s;
}

.online-Image:hover {
  --angle: 0deg;
  --gap: 5px;
}

/* body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 20;
  position: relative;
}

.logo-container {
  display: inline-flex;
}

.user-item {
  color: white;
}

.logo {
  font-size: 2rem;
}

.auth-buttons {
  display: flex;
}

.count-down-text {
  font-size: 2rem;
  color: #fff;
}

.words-text {
  font-size: 2rem;
  color: #fff;
}

button {
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  /* border: none; */
  font-weight: bold;
  padding: 0.5rem 0.7rem;
}

#signupBtn {
  margin-left: 0.5rem;
}

#ready-btn,
#vote-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 3rem;
  outline: none !important;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  /* Increase the margin-bottom to 50px */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Remove scrolling bars */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  position: relative;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* height: 50%; */
  /* 80% of original width */
  height: 72%;
  /* 80% of original height */
  text-align: center;
  overflow: auto;
  /* Add scrolling only for the modal content */
  border-radius: 10px;
  /* Add border radius */
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.local-video,
.remote-video {
  width: 100%;
  height: auto;
}

#countdown {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.countdown-animation {
  animation: grow 1s ease-out forwards;
}

.input-group {
  flex-wrap: nowrap !important;
}

.users-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #292c2d;
  padding: 20px;
  border-radius: 10px;
  /* Add border radius */
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card-title {
  color: #f9f9f9;
}

/* #users-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
} */
/* .grid-container {
  grid-template-columns: repeat(3, 1fr) !important;
} */
.user-item {
  list-style-type: none;
}

.user-item span {
  margin-top: 15px;
  text-align: center;
}

.material-icons {
  font-size: 36px;
  margin-right: 10px;
}

.main-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chat-input {
  background-color: black;

  border: 1px solid #111315;
  color: white;
  outline: none !important;
  width: 84%;
  padding: 0.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 45px;
}

.custom-input {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding-right: 0;
  position: relative;
}

.custom-input .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#chat-send-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black !important;
  border: 1px solid #111315 !important;
  color: white !important;

  font-weight: 700 !important;
}

#nav-bar {
  background-color: #111315 !important;
}

#logo-F {
  padding: 5px;
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

#ranking-main,
.bg-users-list,
.bg-chat {
  background-color: #292c2d;
  border-radius: 10px;
}

#ranking-main {
  height: 90vh;
  overflow-y: auto;
}

#ranking-main h1 {
  font-size: 2.2rem;
  color: #f9f9f9;
  font-weight: 600;
}

#ranking-main ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#ranking-main ul li {
  margin-bottom: 10px;
  font-size: 13px;
  padding: 5px;
  border: 2px solid #676767;
  border-radius: 50px;
  transition-duration: 0.3s;
}

#ranking-main li:hover {
  scale: 105%;
  transition-duration: 0.3s;
}

#ranking-main ul li img {
  background-color: #292c2d;
  border-radius: 25px;
}

.ranking-card-wrapper {
  display: flex;
}

.ranking-card-image {
  margin-top: 1px;
  margin-left: 3px;
  width: fit-content;
}

#logo-F {
  padding: 0.313rem;
  background-color: red;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-right: 0.313rem;
  border-radius: 0.313rem;
}

.ranking-card-image {
  width: fit-content;
}

.ranking-card-text {
  width: 100%;
}

.ranking-card-text {
  width: 100%;
  padding-left: 10px;
}

.ranking-card-text div:nth-child(1) {
  color: #f9f9f9;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ranking-card-text div:nth-child(2) {
  color: #f9f9f9;
  font-weight: 600;
}

.ranking-card-text div:nth-child(2) span {
  color: #e0e0e0;
  font-weight: 500;
}

#ranking-main::-webkit-scrollbar {
  display: none;
}

#ranking-main::-webkit-scrollbar {
  display: none;
}

#ranking-text {
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#fight {
  width: 100%;
  height: 100%;
  background-color: #111315;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 5px;
}

.fight-header {
  display: flex;
}

.fight-header div:nth-child(1) {
  width: 50%;
  color: #f9f9f9;
  font-weight: 600;
}

.fight-header div:nth-child(2) {
  width: 50%;
}

.btn-primary-1 {
  border: none;
  background-color: #111315;
  color: #f9f9f9;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  outline: none;

  width: 80%;
}

.btn-primary-1:hover {
  border: none;
  background-color: #111315;
  color: #f9f9f9;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  outline: none;

  border: none;
}

#chat-div {
  width: 100%;
  height: 100%;
  background-color: #111315;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 5px;
}

.chat-container {
  background-color: #292c2d;
  border-radius: 10px;
  height: 90vh;
  overflow: auto;
}

body {
  background-color: #111315;
  margin: 0;
  font-family: Arial, sans-serif;

  background-size: cover;
  background-position: center right;
  min-height: 100vh;
}

.header {
  background-color: #333;
  padding: 6px 0;
}

.logo {
  color: #fff;
  margin: 0;
}

#fight-btn {
  color: white;
  width: 18%;
  background-color: black;
  margin-bottom: 0.5rem;
  padding: 0.5rem 3rem;
  border-radius: 25px;
}

#signout-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  outline: none !important;
}

.signout-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  outline: none !important;
}

.signout-btn:hover {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  outline: none !important;
}

#fight-btn:hover {
  transform: scale(1.1);
}

#signout-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  outline: none !important;
}

.ranking-main {
  height: 86%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  padding-left: 26px;
  padding-right: 26px;
}

.ranking-div {
  width: 18%;
}

.ranking-items {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
  margin-top: 10px;
  padding: 10px;
  transition: transform 0.3s;
  padding-left: 20px;
  padding-right: 20px;
}

.ranking-items:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 1px solid yellow;
}

.ranking-name {
  padding-left: 10px;
  color: white;
  font-size: smaller;
  text-transform: uppercase;
}

.ranking-points {
  float: right;
  padding-top: 21px;
  font-size: small;
  color: yellow;
}

#chat-text {
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#fight-text {
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
#remote-nickname-field {
  visibility: hidden;
}
.online-main {
  height: auto;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  padding-left: 26px;
  padding-right: 26px;
}

.fight-div {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px;
}

/* .online-item {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  transition: transform 0.3s;
  padding-left: 20px;
  padding-right: 20px;
} */

.online-item div {
  margin-bottom: 0px !important;
}

#online-Image {
  width: 86px;
  margin-right: 54px;
  margin-bottom: 10px;
}

#ranking-list-main::-webkit-scrollbar {
  width: 4px !important;
}

#ranking-list-main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

#ranking-list-main::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: 1px solid slategrey !important;
}

.chat-div {
  width: 22%;
}

.chat-messages-container::-webkit-scrollbar {
  width: 4px !important;
}

.chat-messages-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.chat-messages-container::-webkit-scrollbar-thumb {
  background-color: #111315 !important;
  /* outline: 1px solid slategrey !important; */
}

.chat-messages-container {
  min-height: 72vh;
}

@property --gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

#online-Image {
  --border: 6px;
  --gap: 12px;
  --color: #fa6900;

  width: 120px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));

  --angle: 90deg;
  background: radial-gradient(farthest-side, var(--color) 97%, #0000 101%)
      85.35% 85.35%,
    conic-gradient(
      from calc(180deg - var(--angle) / 2),
      #0000 var(--angle),
      var(--color) 0
    ),
    radial-gradient(farthest-side, var(--color) 97%, #0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border), auto;
  background-repeat: no-repeat;

  -webkit-mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  transition: --angle 0.4s, --gap 0.4s;
}

#online-Image:hover {
  --angle: 0deg;
  --gap: 5px;
}

.video-wrapper {
  width: 40%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.local-video:root {
  --red: tomato;
  --bgColor: bisque;
}

.local-video {
}

.remote-video {
}

.modal-content {
  background-color: #111315;
}

#local-nickname-field,
#remote-nickname-field {
  padding: 10px;
  text-transform: capitalize;
  background-color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alumni Sans", sans-serif;
  font-size: 16px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2em;
  background: #212121;
  color: #fff;
  text-transform: uppercase;
  gap: 30px;
}

h1 {
  font-size: 2.5em;
  text-decoration: underline;

  @media (max-width: 768px) {
    font-size: 1.3em;
  }
}

.text-shadow {
  font-style: italic;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px black;
  transition: all 0.5s ease-in-out;
  text-align: center;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate;

  &:hover {
    color: #fff;
  }
}

.tags small {
  @media (max-width: 768px) {
    font-size: 0.5em;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px blue;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px blue;
  }
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 590px) {
  #modal-video-container {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .count-down-div {
    justify-content: flex-start;
  }

  #ready-btn,
  #vote-btn {
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: normal;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    outline: none !important;
  }

  #modal-video-container {
  }
  .modal-content {
    display: block;
  }

  .video-wrapper {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .count-down-text {
    font-size: 0.8rem;
    margin: 0 !important;
  }

  .words-text {
    font-size: 1rem;
    margin: 0 !important;
  }

  #local-nickname-field,
  #remote-nickname-field {
    font-size: 0.8rem;
    padding: 5px;
    background-color: transparent;
    color: white;
  }
  #remote-nickname-field {
    visibility: hidden;
  }
  .local-video,
  .remote-video {
    width: 100%;
    height: 100%;
  }
}

.cross-icon {
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  height: 5rem;
  display: flex;
  margin-right: 2rem;
}

.main-content {
  display: flex;
}

@media screen and (max-width: 1000px) {
  #ranking-main {
    height: 97vh;
    border: 2px solid #c7c7c7;
  }

  .chat-container {
    height: 97vh;
    border: 2px solid #c7c7c7;
  }

  .ranking-div {
    position: fixed;
    z-index: 100;
    top: 5px;
    left: 0px;
    width: 300px;
    transform: translateX(-300px);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }

  .chat-div {
    position: fixed;
    z-index: 100;
    top: 5px;
    right: 0px;
    width: 300px;
    transform: translateX(300px);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }

  .translate-zero {
    transform: translateX(0px);
  }

  .fight-div {
    width: 100%;
    padding: 0px;
  }

  .chat-messages-container {
    min-height: 70vh;
  }

  .main-content {
    display: block;
  }

  .list-group {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.chat-open-button {
  background-color: #cfdddb;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
}

@media screen and (min-width: 1700px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}
@media screen and (max-width: 1300px) {
  #fight-btn {
    width: 25%;
  }
}
@media screen and (max-width: 800px) {
  #fight-btn {
    width: 40%;
  }
}
@media screen and (max-width: 390px) {
  #fight-btn {
    width: 50%;
  }
}
