.card {
  margin-top: 6.25rem;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  position: relative;

  /* transform: translate(-50%, -50%);
  left: 32%;
  top: 58.7%; */
}

.btn {
  width: fit-content;
  background-color: #292c2d !important;
  border-radius: 0.4rem;
  margin-top: 30px;
}

.pointer-cursor {
  cursor: pointer;
}
#login {
  /* background-color: #111315; */
}
input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#login-btn {
  width: fit-content;
  background-color: red !important;
  margin-top: 30px;
  height: 3.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

#signup-btn {
  width: fit-content;
  background-color: red !important;
  margin-top: 30px;
  height: 3.5rem;
  padding-left: 20px;
  padding-right: 20px;
}
#signup {
  display: none;
  /* background-color: #111315; */
}

.forms {
  height: auto;
  padding-top: 80px;
}

.forms * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.031rem;
  outline: none;
  border: none;
}
.mic-img {
  width: 63%;
  height: auto;
  position: fixed;
}
.forms h3 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 2.625rem;
  padding-bottom: 30px;
}
.forms p span {
  color: red;
}
.underline {
  text-decoration: underline;
}
label {
  display: block;
  margin-top: 1.875rem;
  font-size: 1rem;
  font-weight: 500;
}

input {
  display: block;
  height: 1.875rem !important;
  width: 30% !important;
  border-radius: 10px !important;
  padding: 1rem !important;
  background-color: #292c2d !important;
  font-size: 0.875rem;
  font-weight: 300;
  border: none !important;
  margin-top: 30px !important;
}

.navbar-brand-two {
  display: none;
}

#logo-F {
  padding: 0.313rem;
  background-color: red;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-right: 0.313rem;
  border-radius: 0.313rem;
}

input[type="text"]:focus {
  outline: none !important;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 1.563rem;
  width: 100%;
  background-color: #ffffff;
  color: #080710 !important;
  padding: 0.938rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 0.313rem;
  cursor: pointer;
  background-color: #000000 !important;
  color: #ffffff !important;
}
.login-signup {
  display: block;
}
.loader {
  display: none;
  position: absolute;
  top: 86%;
  left: 50%;
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 50%;
  border: 0.5rem solid;
  border-color: #e8e8e8 #0000;
  animation: rotate 1.2s linear infinite;
}

.loader::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  background-color: #000;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loadertwo {
  display: none;
  position: absolute;
  top: 85%;
  left: 50%;
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 50%;
  border: 0.5rem solid;
  border-color: #e8e8e8 #0000;
  animation: rotate 1.2s linear infinite;
}

.loadertwo::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  background-color: #000;
  border-radius: 50%;
}
.file-field .btn,
.file-field .btn-large,
.file-field .btn-small {
  float: none !important;
}
.file-path-wrapper {
  display: none;
}
.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 4rem;
  margin-left: 2rem;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 358px) {
  .background {
    display: none;
  }

  .forms {
    left: 50%;
    width: 18.75rem !important;
  }
}

@media screen and (max-width: 1440px) {
  .mic-img {
    width: 75%;
    left: -5rem;
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .background {
    left: 24%;
  }
  .mic-img {
    width: 70%;
    left: -5rem;
  }

  /* .forms {
    width: 21.875rem;
  } */
}

@media screen and (max-width: 768px) {
  .background {
    left: 24%;
  }
  input {
    width: 300px !important;
  }
  /* .forms {
    height: auto;
    width: 22rem;
  } */
  .mic-img {
    width: 100%;
    left: -13rem;
    top: 7rem;
  }
}

@media screen and (max-width: 700px) {
  .background {
    display: none;
  }
  .forms h3 {
    font-size: 4rem;
  }
  .navbar-brand {
    font-size: 3rem;
    margin-left: 0px;
  }
  .forms {
    left: 50%;
  }
  #logo-F {
    padding: 0 0.625rem !important;
  }

  .loader {
    top: 74%;
  }

  .loadertwo {
    top: 79%;
  }
}
@media screen and (max-width: 500px) {
  input {
    width: 300px !important;
  }
  .forms h3 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 400px) {
  input {
    width: 250px !important;
  }
  .forms h3 {
    font-size: 3rem;
    line-height: 50px;
  }
}
